body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px 20px 0 20px;
    background-color: #eeeeee;
}

header > div {
    flex-basis: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    max-width: 300px;
}

.nav > ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}

.email {
    width: 100%;
}

form {
    text-align: center;
}

form > * {
    margin: 5px;
    padding: 5px;
}

.button {
    padding: 10px;
    background-color: #f1c40f;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 100%;
    padding: 5px;
}

.feature > h2 {
    width: 100%;
}

.feature > * {
    margin: 0;
}

.grid > :first-child {
    flex-basis: 30%;
}

.img-icon {
    max-width: 65px;
}

.pricing {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.items {
    text-align: center;
    border: 1px solid black;
    width: calc(100% / 3);
    margin: 10px;
    border-radius: 3px;
}

.heading {
    padding: 15px 0;
    width: 100%;
    background-color: #dddddd;
    font-weight: 700;
}

.items > ol  {
    padding: 0;
}

.items> ol > li {
    padding: 2.5px 0;
}

.items > .button {
    margin: 10px 0;
}

footer {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    margin-top: 30px;
}

footer > ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    color: #444;
}

@media (max-width: 800px) {
    .pricing {
        flex-direction: column;
    }

    .items {
        width: 100%;
        max-width: 300px;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 650px) {
    #hero {
        margin-top: 120px;
    }

    .nav > ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    li {
        padding-bottom: 5px;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
    }

    .nav {
        margin-top: 10px;
    }
}

@media (max-width: 550px) {
    .grid {
        flex-direction: column;
        height: 150px;
    }

    .icon {
        display: none;
    }

    .feature > * {
        text-align: center;
    }
}